@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

/*MEYER RESET START*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*MEYER RESET END*/

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: #cac;
  height: 100vh;
  font-family: "Roboto", Helvetica, sans-serif;
}

/*SIDEBAR START*/
#sidebar {
  background: #1992d4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 360px;
  height: 100%;
}

.sidebar-items-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar-item-container-sm,
.sidebar-item-container-lg {
  width: fit-content;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0 10px 48px;
}

.sidebar-item-container-sm {
  gap: 20px;
}

.sidebar-item-container-lg {
  gap: 10px;
}

.sidebar-item-container-sm img,
.sidebar-item-container-lg img {
  filter: invert(1);
}

.sidebar-item-container-sm span,
.sidebar-item-container-lg span {
  color: white;
  font-weight: 500;
}

.sidebar-item-container-sm img {
  height: 25px;
}

.sidebar-item-container-lg img {
  height: 45px;
}

.sidebar-item-container-sm span {
  font-size: 20px;
}

.sidebar-item-container-lg span {
  font-size: 28px;
}
/*SIDEBAR END*/
