@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

/*MEYER RESET START*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*MEYER RESET END*/

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: #cac;
  height: 100vh;
  font-family: "Roboto", Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar head"
    "sidebar body";
}

:root {
  --sidebar-background: #1992d4;
  --sidebar-color: #fff;
  --head-background: #fff;
  --head-input-background: #e2e8f0;
}

/*SIDEBAR START*/
#sidebar {
  background: var(--sidebar-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  grid-area: sidebar;
  z-index: 20;
  box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.534);
}

.sidebar-items-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar-item-container-sm,
.sidebar-item-container-lg {
  width: fit-content;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0 10px 48px;
}

.sidebar-item-container-sm {
  gap: 20px;
}

.sidebar-item-container-lg {
  gap: 10px;
}

.sidebar-item-container-sm img,
.sidebar-item-container-lg img {
  filter: invert(1);
}

.sidebar-item-container-sm span,
.sidebar-item-container-lg span {
  color: var(--sidebar-color);
  font-weight: 500;
}

.sidebar-item-container-sm img {
  height: 25px;
}

.sidebar-item-container-lg img {
  height: 45px;
}

.sidebar-item-container-sm span {
  font-size: 20px;
}

.sidebar-item-container-lg span {
  font-size: 28px;
}
/*SIDEBAR END*/

/*HEAD START*/
#head {
  grid-area: head;
  background: var(--head-background);
  z-index: 10;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.219);
  display: flex;
  flex-direction: column;
  padding: 25px 50px;
  gap: 35px;
}

.head-top {
  display: flex;
  align-items: center;
}

.searchbar-container {
  display: flex;
  gap: 35px;
  flex: 0 0 50%;
}

.searchbar-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-container input {
  border: none;
  height: 36px;
  font-size: 18px;
  width: 100%;
  background: var(--head-input-background);
}

.input-container::before,
.input-container::after {
  content: "";
  width: 25px;
  height: 36px;
  background: var(--head-input-background);
  position: absolute;
}

.input-container::before {
  transform: translateX(-100%);
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}

.input-container::after {
  right: 0;
  transform: translateX(100%);
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}

.searchbar-container input::before {
  content: "";
  height: 100%;
  width: 30px;
}

.searchbar-container button img {
  height: 28px;
}

.user-info {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.user-info span {
  font-size: 20px;
  font-weight: 500;
}

.bell-icon {
  height: 28px;
}

.user-pfp {
  border-radius: 100%;
}

.head-bottom {
  display: flex;
}

.user-welcome {
  display: flex;
  gap: 22px;
}

.user-pfp {
  grid-area: pfp;
}

.welcome-msg {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  font-weight: 500;
}

.welcome-msg-top {
  font-size: 15px;
}

.welcome-msg-bottom {
  font-size: 22px;
}

.head-buttons {
}

/*HEAD END*/

/*BODY START*/
#body {
  grid-area: body;
  background: rgb(96, 148, 103);
}
/*BODY END*/
